@{
    ViewData["Title"] = "Products Page";
}
@model Product

<partial name="_Navigations"/>

<div class="alert alert-info my-5">
    Products Page
</div>

<div class="row">
    <div class="col-sm-4">

        <h4>
            New Product
        </h4>

        <form action="/products/new" method="POST">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
    <div class="col-sm-8">

        <h4>
            Existing Products
        </h4>

        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>

            @foreach (Product p in @ViewBag.Products)
            {
                <tr>
                    <td><a href="/products/@p.ProductID">@p.Name</a></td>
                    <td>@p.Price</td>
                </tr>
            }

        </table>

    </div>
</div>
